// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  outline: none;
}

.title {
  font-size: 3.5em;
  color: white;
  letter-spacing: -1px;
  line-height: 100%;
  font-weight: bold;
  font-variant: small-caps;
}

.text {
  font-size:0.75em!important;
}

#apply_segment {
  background-color: rgba(0, 0, 0, 0.5)!important;
}


.items-holder {
  padding-top: 12em;
  padding-bottom: 12em;
  background-color: rgba(0,0,0,0.3);

  .items-container {
    padding-top:2em;
    display: flex!important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

}

#header_container {
  background-size: cover;
  margin-bottom: 0;
  height: 100vh;

  .items-holder {
    height: 100vh;
  }

  .items-left {
    flex: 0.25 1 40%;
  }

  .items-right {
    flex: 0.25 1 40%;
  }
}

#future_container {
  // background-image: url(dark-blur-blurred-gradient.jpg);
  // // background-image: url(http://cdn.pcwallart.com/images/dark-blue-gradient-wallpaper-4.jpg);
  // background-position: center;
  // background-size: cover;
  // background-repeat: no-repeat;
  background-color: rgba(0,0,0,0.8);

  .items-holder {
    background-color: rgba(0,0,0,0.5);
  }

  .title {
    font-size: 2.5em;
  }

  .items-left {
    flex: 30%
  }

  .items-right {
    text-align: right;
    flex: 70%
  }
}

#stats_container {
  // background-image: url(http://cdn.pcwallart.com/images/dark-blue-gradient-wallpaper-4.jpg);
  // background-image: url(street-blurred.jpg);
  background-color: white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .items-holder {
    background-color: rgba(0,0,0,0);
    padding: 3em 0;
  }

  .items-center {
    width: 100%!important;
  }
}

#mission_container {
  background-image: url(street-blurred.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .items-holder {
    background-color: rgba(0,0,0,0.8);
  }

  .items-center {
    width: 70%!important;
    margin: 0 auto;
    color: white;
    text-align: center
  }

  p {
    font-size: 1.5em;
  }

  .signature {
    text-transform: uppercase;
    font-size: 0.8em;
  }
}


#projects_container {
  background-image: url(http://www.publicdomainpictures.net/pictures/70000/velka/old-white-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;


  .items-holder {
    background-color: rgba(0,0,0,0.9);
    padding: 5em 0;
  }

  .items-center {
    width: 100%!important;
  }

  .title {
    font-size: 2.5em;
  }

  .items-left {
    flex: 50%
  }

  .items-right {
    flex: 50%
  }
}

.background-holder {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;

  &.first {
    background-image: url(http://123hdwallpaperpic.com/download/20150615/high-tech-apple-imac-2560x1600.jpg);
  }
  &.second {
    background-image: url(building-modern.jpg);
  }
  &.third {
    background-image: url(https://www.hdwallpapers.in/walls/relax-HD.jpg);
    // background-image: url(http://www.henryfordlivewell.com/wp-content/uploads/2015/07/shutterstock_178068386.jpg);
  }
  // &.fourth {
  //   background-image: url(https://www.hdwallpapers.in/walls/relax-HD.jpg);
  // }
}

.slick-dots {
  bottom: 5%!important;
}