// Place all the styles related to the Prospects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-container {
	width: 40%;
	margin-left: 30%;
	padding-top: 100px;
}
.negative a:hover {
	background-color: #ffe7e7 !important;
}

.ui.form {
    padding: 3% 4%;
    background-color: rgba(255, 255, 255, 0.6);
    margin-bottom: 10px;
}

.form-container .ui.header {
    margin: 15px!important;

    .title {
        color: rgba(0, 0, 0, 0.7);
        font-size: 2.75em!important;
    }
}

.form-container .ui.message {
    margin-top: 25px!important;
}
